.search-bar {
  display: flex;
  padding-top: 1rem;
  position: relative;
  z-index: 999;
  .close-search-icon {
    position: absolute;
    top: 20px;
  }

  .MuiFormControl-root {
    width: 30%;
  }

  .MuiInputBase-root {
    color: white;
  }

  .MuiInput-underline:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid gold;
    pointer-events: none;
  }

  .MuiSvgIcon-root {
    font-size: 32px;
    color: white;
    font-weight: bolder;
    margin-left: 3rem;
  }
}

.input-bar {
  display: flex;
  justify-content: center;
  flex: 4;
}
